*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90vh;
}
video{
    width: 100%;
}
.soon-message{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20vh 0 20vh 0;
}
