*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
}
video{
    width: 100%;
}
.soon-message{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
